@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Secular+One&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 5px;
}